# -------------------------------------------------------------------------------
# This file contains configuration of the audio plugin.
#   Package:             test (Test Case)
#   Package version:     0.0.0-devel
#   Plugin name:         Sidechain-Dynamikprozessor Mono (Sidechain Dynamics Processor Mono)
#   Plugin version:      1.0.21
#   UID:                 sc_dyna_processor_mono
#   LV2 URI:             http://lsp-plug.in/plugins/lv2/sc_dyna_processor_mono
#   VST 2.x identifier:  apkx
#   VST 3.x identifier:  6473702073636470316D202061706B78
#   LADSPA identifier:   5002102
#   LADSPA label:        http://lsp-plug.in/plugins/ladspa/sc_dyna_processor_mono
# 
# (C) Test Case
#   https://lsp-plug.in/
# 
# -------------------------------------------------------------------------------

# Bypass [boolean]: true/false
bypass = false

# Input gain [G]: 0.00000000..1000.00000000
g_in = 0.00 db

# Output gain [G]: 0.00000000..1000.00000000
g_out = 0.00 db

# Pause graph analysis [boolean]: true/false
pause = false

# Clear graph analysis [boolean]: true/false
clear = false

# Sidechain type: 0..2
#   0: Feed-forward
#   1: Feed-back
#   2: External
sct = 2

# Sidechain mode: 0..3
#   0: Peak
#   1: RMS
#   2: LPF
#   3: SMA
scm = 1

# Sidechain lookahead [ms]: 0.00000000..20.00000000
sla = 0.00000

# Sidechain listen [boolean]: true/false
scl = false

# Sidechain reactivity [ms]: 0.00000000..250.00000000
scr = 10.00000

# Sidechain preamp [G]: 0.00000000..100.00000000
scp = 0.00 db

# High-pass filter mode: 0..3
#   0: off
#   1: 12 dB/oct
#   2: 24 dB/oct
#   3: 36 dB/oct
shpm = 0

# High-pass filter frequency [Hz]: 10.00000000..20000.00000000
shpf = 10.00000

# Low-pass filter mode: 0..3
#   0: off
#   1: 12 dB/oct
#   2: 24 dB/oct
#   3: 36 dB/oct
slpm = 0

# Low-pass filter frequency [Hz]: 10.00000000..20000.00000000
slpf = 20000.00000

# Attack time default [ms]: 0.00000000..5000.00000000
atd = 20.00000

# Release time default [ms]: 0.00000000..5000.00000000
rtd = 100.00000

# Point enable 0 [boolean]: true/false
pe0 = true

# Threshold 0 [G]: 0.00025119..15.84893036
tl0 = -12.00 db

# Gain 0 [G]: 0.00025119..15.84893036
gl0 = -12.00 db

# Knee 0 [G]: 0.06310000..1.00000000
kn0 = -6.00 db

# Attack enable 0 [boolean]: true/false
ae0 = false

# Attack level 0 [G]: 0.00025119..15.84893036
al0 = -12.00 db

# Attack time 0 [ms]: 0.00000000..5000.00000000
at0 = 20.00000

# Release enable 0 [boolean]: true/false
re0 = false

# Relative level 0 [G]: 0.00025119..15.84893036
rl0 = -12.00 db

# Release time 0 [ms]: 0.00000000..5000.00000000
rt0 = 100.00000

# Point enable 1 [boolean]: true/false
pe1 = true

# Threshold 1 [G]: 0.00025119..15.84893036
tl1 = -28.99 db

# Gain 1 [G]: 0.00025119..15.84893036
gl1 = -19.47 db

# Knee 1 [G]: 0.06310000..1.00000000
kn1 = -6.00 db

# Attack enable 1 [boolean]: true/false
ae1 = false

# Attack level 1 [G]: 0.00025119..15.84893036
al1 = -24.00 db

# Attack time 1 [ms]: 0.00000000..5000.00000000
at1 = 20.00000

# Release enable 1 [boolean]: true/false
re1 = false

# Relative level 1 [G]: 0.00025119..15.84893036
rl1 = -24.00 db

# Release time 1 [ms]: 0.00000000..5000.00000000
rt1 = 100.00000

# Point enable 2 [boolean]: true/false
pe2 = true

# Threshold 2 [G]: 0.00025119..15.84893036
tl2 = -41.50 db

# Gain 2 [G]: 0.00025119..15.84893036
gl2 = -33.16 db

# Knee 2 [G]: 0.06310000..1.00000000
kn2 = -6.00 db

# Attack enable 2 [boolean]: true/false
ae2 = false

# Attack level 2 [G]: 0.00025119..15.84893036
al2 = -36.00 db

# Attack time 2 [ms]: 0.00000000..5000.00000000
at2 = 20.00000

# Release enable 2 [boolean]: true/false
re2 = false

# Relative level 2 [G]: 0.00025119..15.84893036
rl2 = -36.00 db

# Release time 2 [ms]: 0.00000000..5000.00000000
rt2 = 100.00000

# Point enable 3 [boolean]: true/false
pe3 = true

# Threshold 3 [G]: 0.00025119..15.84893036
tl3 = -48.00 db

# Gain 3 [G]: 0.00025119..15.84893036
gl3 = -48.00 db

# Knee 3 [G]: 0.06310000..1.00000000
kn3 = -6.00 db

# Attack enable 3 [boolean]: true/false
ae3 = false

# Attack level 3 [G]: 0.00025119..15.84893036
al3 = -48.00 db

# Attack time 3 [ms]: 0.00000000..5000.00000000
at3 = 20.00000

# Release enable 3 [boolean]: true/false
re3 = false

# Relative level 3 [G]: 0.00025119..15.84893036
rl3 = -48.00 db

# Release time 3 [ms]: 0.00000000..5000.00000000
rt3 = 100.00000

# Hold time [ms]: 0.00000000..1000.00000000
hold = 0.00000

# Low-level ratio: 0.01000000..100.00000000
llr = 3.07598

# High-level ratio: 0.01000000..100.00000000
hlr = 3.94842

# Overall makeup gain [G]: 0.00025119..15.84893036
omk = 0.00 db

# Dry gain [G]: 0.00000000..10.00000000
cdr = -inf db

# Wet gain [G]: 0.00000000..10.00000000
cwt = 0.00 db

# Dry/Wet balance [%]: 0.00000000..100.00000000
cdw = 100.00000

# Curve modelling visibility [boolean]: true/false
cmv = true

# Sidechain level visibility [boolean]: true/false
slv = true

# Envelope level visibility [boolean]: true/false
elv = true

# Gain reduction visibility [boolean]: true/false
grv = true

# Input level visibility [boolean]: true/false
ilv = true

# Output level visibility [boolean]: true/false
olv = true


# -------------------------------------------------------------------------------
# KVT parameters
# -------------------------------------------------------------------------------


# -------------------------------------------------------------------------------
