# -------------------------------------------------------------------------------
# This file contains configuration of the audio plugin.
#   Package:             lsp-plugin-fw (�YUU)
#   Package version:     0.5.0
#   Plugin name:         Sidechain-Dynamikprozessor LeftRight (Sidechain Dynamic Processor LeftRight)
#   Plugin version:      1.0.3
#   UID:                 sc_dyna_processor_lr
#   LV2 URID:            http://lsp-plug.in/plugins/lv2/
#   VST identifier:      sxmi
#   LADSPA identifier:   5002104
#   LADSPA label:        http://lsp-plug.in/plugins/ladspa/
# 
# (C) LSP Plugin Framework
#   https://lsp-plug.in/
# 
# -------------------------------------------------------------------------------

# Bypass [boolean]: true/false
bypass = false

# Input gain [G]: 0.00000000..1000.00000000
g_in = 0.00 db

# Output gain [G]: 0.00000000..1000.00000000
g_out = 0.00 db

# Pause graph analysis [boolean]: true/false
pause = false

# Clear graph analysis [boolean]: true/false
clear = false

# Processor selector: 0..1
#   0: Left
#   1: Right
psel = 0

# Sidechain type Left: 0..2
#   0: Feed-forward
#   1: Feed-back
#   2: External
sct_l = 2

# Sidechain mode Left: 0..3
#   0: Peak
#   1: RMS
#   2: Low-Pass
#   3: Uniform
scm_l = 1

# Sidechain lookahead Left [ms]: 0.00000000..20.00000000
sla_l = 0.00000

# Sidechain listen Left [boolean]: true/false
scl_l = false

# Sidechain source Left: 0..3
#   0: Middle
#   1: Side
#   2: Left
#   3: Right
scs_l = 0

# Sidechain reactivity Left [ms]: 0.00000000..250.00000000
scr_l = 10.00000

# Sidechain preamp Left [G]: 0.00000000..100.00000000
scp_l = 0.00 db

# High-pass filter mode Left: 0..3
#   0: off
#   1: 12 dB/oct
#   2: 24 dB/oct
#   3: 36 dB/oct
shpm_l = 0

# High-pass filter frequency Left [Hz]: 10.00000000..20000.00000000
shpf_l = 10.00000

# Low-pass filter mode Left: 0..3
#   0: off
#   1: 12 dB/oct
#   2: 24 dB/oct
#   3: 36 dB/oct
slpm_l = 0

# Low-pass filter frequency Left [Hz]: 10.00000000..20000.00000000
slpf_l = 20000.00000

# Sidechain type Right: 0..2
#   0: Feed-forward
#   1: Feed-back
#   2: External
sct_r = 0

# Sidechain mode Right: 0..3
#   0: Peak
#   1: RMS
#   2: Low-Pass
#   3: Uniform
scm_r = 1

# Sidechain lookahead Right [ms]: 0.00000000..20.00000000
sla_r = 0.00000

# Sidechain listen Right [boolean]: true/false
scl_r = false

# Sidechain source Right: 0..3
#   0: Middle
#   1: Side
#   2: Left
#   3: Right
scs_r = 0

# Sidechain reactivity Right [ms]: 0.00000000..250.00000000
scr_r = 10.00000

# Sidechain preamp Right [G]: 0.00000000..100.00000000
scp_r = 0.00 db

# High-pass filter mode Right: 0..3
#   0: off
#   1: 12 dB/oct
#   2: 24 dB/oct
#   3: 36 dB/oct
shpm_r = 0

# High-pass filter frequency Right [Hz]: 10.00000000..20000.00000000
shpf_r = 10.00000

# Low-pass filter mode Right: 0..3
#   0: off
#   1: 12 dB/oct
#   2: 24 dB/oct
#   3: 36 dB/oct
slpm_r = 0

# Low-pass filter frequency Right [Hz]: 10.00000000..20000.00000000
slpf_r = 20000.00000

# Attack time default Left [ms]: 0.00000000..5000.00000000
atd_l = 38.28029

# Release time default Left [ms]: 0.00000000..5000.00000000
rtd_l = 100.00000

# Point enable 0 Left [boolean]: true/false
pe0_l = true

# Threshold 0 Left [G]: 0.00025119..15.84893036
tl0_l = -12.56 db

# Gain 0 Left [G]: 0.00025119..15.84893036
gl0_l = -12.07 db

# Knee 0 Left [G]: 0.06310000..1.00000000
kn0_l = -6.00 db

# Attack enable 0 Left [boolean]: true/false
ae0_l = false

# Attack level 0 Left [G]: 0.00025119..15.84893036
al0_l = -12.00 db

# Attack time 0 Left [ms]: 0.00000000..5000.00000000
at0_l = 20.00000

# Release enable 0 Left [boolean]: true/false
re0_l = false

# Relative level 0 Left [G]: 0.00025119..15.84893036
rl0_l = -12.00 db

# Release time 0 Left [ms]: 0.00000000..5000.00000000
rt0_l = 100.00000

# Point enable 1 Left [boolean]: true/false
pe1_l = true

# Threshold 1 Left [G]: 0.00025119..15.84893036
tl1_l = -20.38 db

# Gain 1 Left [G]: 0.00025119..15.84893036
gl1_l = -32.05 db

# Knee 1 Left [G]: 0.06310000..1.00000000
kn1_l = -6.00 db

# Attack enable 1 Left [boolean]: true/false
ae1_l = false

# Attack level 1 Left [G]: 0.00025119..15.84893036
al1_l = -24.00 db

# Attack time 1 Left [ms]: 0.00000000..5000.00000000
at1_l = 20.00000

# Release enable 1 Left [boolean]: true/false
re1_l = false

# Relative level 1 Left [G]: 0.00025119..15.84893036
rl1_l = -24.00 db

# Release time 1 Left [ms]: 0.00000000..5000.00000000
rt1_l = 100.00000

# Point enable 2 Left [boolean]: true/false
pe2_l = false

# Threshold 2 Left [G]: 0.00025119..15.84893036
tl2_l = -36.00 db

# Gain 2 Left [G]: 0.00025119..15.84893036
gl2_l = -36.00 db

# Knee 2 Left [G]: 0.06310000..1.00000000
kn2_l = -6.00 db

# Attack enable 2 Left [boolean]: true/false
ae2_l = false

# Attack level 2 Left [G]: 0.00025119..15.84893036
al2_l = -36.00 db

# Attack time 2 Left [ms]: 0.00000000..5000.00000000
at2_l = 20.00000

# Release enable 2 Left [boolean]: true/false
re2_l = false

# Relative level 2 Left [G]: 0.00025119..15.84893036
rl2_l = -36.00 db

# Release time 2 Left [ms]: 0.00000000..5000.00000000
rt2_l = 100.00000

# Point enable 3 Left [boolean]: true/false
pe3_l = false

# Threshold 3 Left [G]: 0.00025119..15.84893036
tl3_l = -48.00 db

# Gain 3 Left [G]: 0.00025119..15.84893036
gl3_l = -48.00 db

# Knee 3 Left [G]: 0.06310000..1.00000000
kn3_l = -6.00 db

# Attack enable 3 Left [boolean]: true/false
ae3_l = false

# Attack level 3 Left [G]: 0.00025119..15.84893036
al3_l = -48.00 db

# Attack time 3 Left [ms]: 0.00000000..5000.00000000
at3_l = 20.00000

# Release enable 3 Left [boolean]: true/false
re3_l = false

# Relative level 3 Left [G]: 0.00025119..15.84893036
rl3_l = -48.00 db

# Release time 3 Left [ms]: 0.00000000..5000.00000000
rt3_l = 100.00000

# Low-level ratio Left: 0.01000000..100.00000000
llr_l = 1.31609

# High-level ratio Left: 0.01000000..100.00000000
hlr_l = 1.00000

# Overall makeup gain Left [G]: 0.00025119..15.84893036
omk_l = 0.00 db

# Dry gain Left [G]: 0.00000000..10.00000000
cdr_l = -inf db

# Wet gain Left [G]: 0.00000000..10.00000000
cwt_l = 0.00 db

# Curve modelling visibility Left [boolean]: true/false
cmv_l = true

# Sidechain level visibility Left [boolean]: true/false
slv_l = true

# Envelope level visibility Left [boolean]: true/false
elv_l = true

# Gain reduction visibility Left [boolean]: true/false
grv_l = true

# Attack time default Right [ms]: 0.00000000..5000.00000000
atd_r = 20.00000

# Release time default Right [ms]: 0.00000000..5000.00000000
rtd_r = 100.00000

# Point enable 0 Right [boolean]: true/false
pe0_r = true

# Threshold 0 Right [G]: 0.00025119..15.84893036
tl0_r = -7.87 db

# Gain 0 Right [G]: 0.00025119..15.84893036
gl0_r = -19.47 db

# Knee 0 Right [G]: 0.06310000..1.00000000
kn0_r = -6.00 db

# Attack enable 0 Right [boolean]: true/false
ae0_r = false

# Attack level 0 Right [G]: 0.00025119..15.84893036
al0_r = -12.00 db

# Attack time 0 Right [ms]: 0.00000000..5000.00000000
at0_r = 20.00000

# Release enable 0 Right [boolean]: true/false
re0_r = false

# Relative level 0 Right [G]: 0.00025119..15.84893036
rl0_r = -12.00 db

# Release time 0 Right [ms]: 0.00000000..5000.00000000
rt0_r = 100.00000

# Point enable 1 Right [boolean]: true/false
pe1_r = true

# Threshold 1 Right [G]: 0.00025119..15.84893036
tl1_r = -24.00 db

# Gain 1 Right [G]: 0.00025119..15.84893036
gl1_r = -24.00 db

# Knee 1 Right [G]: 0.06310000..1.00000000
kn1_r = -6.00 db

# Attack enable 1 Right [boolean]: true/false
ae1_r = false

# Attack level 1 Right [G]: 0.00025119..15.84893036
al1_r = -24.00 db

# Attack time 1 Right [ms]: 0.00000000..5000.00000000
at1_r = 20.00000

# Release enable 1 Right [boolean]: true/false
re1_r = false

# Relative level 1 Right [G]: 0.00025119..15.84893036
rl1_r = -24.00 db

# Release time 1 Right [ms]: 0.00000000..5000.00000000
rt1_r = 100.00000

# Point enable 2 Right [boolean]: true/false
pe2_r = false

# Threshold 2 Right [G]: 0.00025119..15.84893036
tl2_r = -36.00 db

# Gain 2 Right [G]: 0.00025119..15.84893036
gl2_r = -36.00 db

# Knee 2 Right [G]: 0.06310000..1.00000000
kn2_r = -6.00 db

# Attack enable 2 Right [boolean]: true/false
ae2_r = false

# Attack level 2 Right [G]: 0.00025119..15.84893036
al2_r = -36.00 db

# Attack time 2 Right [ms]: 0.00000000..5000.00000000
at2_r = 20.00000

# Release enable 2 Right [boolean]: true/false
re2_r = false

# Relative level 2 Right [G]: 0.00025119..15.84893036
rl2_r = -36.00 db

# Release time 2 Right [ms]: 0.00000000..5000.00000000
rt2_r = 100.00000

# Point enable 3 Right [boolean]: true/false
pe3_r = false

# Threshold 3 Right [G]: 0.00025119..15.84893036
tl3_r = -48.00 db

# Gain 3 Right [G]: 0.00025119..15.84893036
gl3_r = -48.00 db

# Knee 3 Right [G]: 0.06310000..1.00000000
kn3_r = -6.00 db

# Attack enable 3 Right [boolean]: true/false
ae3_r = false

# Attack level 3 Right [G]: 0.00025119..15.84893036
al3_r = -48.00 db

# Attack time 3 Right [ms]: 0.00000000..5000.00000000
at3_r = 20.00000

# Release enable 3 Right [boolean]: true/false
re3_r = false

# Relative level 3 Right [G]: 0.00025119..15.84893036
rl3_r = -48.00 db

# Release time 3 Right [ms]: 0.00000000..5000.00000000
rt3_r = 100.00000

# Low-level ratio Right: 0.01000000..100.00000000
llr_r = 1.25198

# High-level ratio Right: 0.01000000..100.00000000
hlr_r = 1.00000

# Overall makeup gain Right [G]: 0.00025119..15.84893036
omk_r = 0.00 db

# Dry gain Right [G]: 0.00000000..10.00000000
cdr_r = -inf db

# Wet gain Right [G]: 0.00000000..10.00000000
cwt_r = 0.00 db

# Curve modelling visibility Right [boolean]: true/false
cmv_r = true

# Sidechain level visibility Right [boolean]: true/false
slv_r = true

# Envelope level visibility Right [boolean]: true/false
elv_r = true

# Gain reduction visibility Right [boolean]: true/false
grv_r = true

# Input level visibility Left [boolean]: true/false
ilv_l = true

# Output level visibility Left [boolean]: true/false
olv_l = true

# Input level visibility Right [boolean]: true/false
ilv_r = true

# Output level visibility Right [boolean]: true/false
olv_r = true


# -------------------------------------------------------------------------------
# KVT parameters
# -------------------------------------------------------------------------------


# -------------------------------------------------------------------------------
